<main class="form-signin w-100 m-auto">
    <form>
      <img class="mb-4" src="../assets/Bootstrap_logo.svg.png" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Registro</h1>
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" [(ngModel)]="mail" name="mail" #userMail required>
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="clave" name="clave" #userClave required>
        <label for="floatingPassword">Contraseña:</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword2" placeholder="Password2" [(ngModel)]="copiaClave" name="copiaClave">
        <label for="floatingPassword">Repita su contraseña:</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" (click)="registrar(userMail.value, userClave.value)">Registrarse</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
    </form>
    
  </main>
