<main class="form-signin w-100 m-auto">
    <form>
      <img class="mb-4" src="../assets/Bootstrap_logo.svg.png" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Ingrese sus datos</h1>
  
      <div class="form-floating">
        <input type="email" class="form-control" placeholder="name@example.com" #userName required>
        <label for="floatingInput">Email</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" placeholder="Password"  #userPassword required>
        <label for="floatingPassword">Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" (click)="authService.SignIn(userName.value, userPassword.value)">Loguear</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
    </form>

    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary" (click)="authService.SignIn(usuariosDePrueba[0].email, usuariosDePrueba[0].pass)">Manuel</button>
      <button type="button" class="btn btn-primary" (click)="authService.SignIn(usuariosDePrueba[1].email, usuariosDePrueba[1].pass)">Raul</button>
      <button type="button" class="btn btn-primary" (click)="authService.SignIn(usuariosDePrueba[2].email, usuariosDePrueba[2].pass)">Felipe</button>
    </div>
  </main>
