.center {
    text-align: center;
}

.margen {
    margin-left: 30px;
    margin-right: 700px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }