<h1 class="center">Bienvenida</h1><p></p>
<h2 class="center">Éste es el componente de bienvenida. La ruta principal si el usuario no está logueado.</h2>
<h4 class="center">Sprint 2 (Clase 03)</h4>
<div class="margen">
    <p></p>
<p>
    - Componente Home

    Tiene que ser el componente principal, el cual tendrá los accesos a los
    diferentes juegos y listados.
    Si el usuario está logueado, mostrar información del mismo y botón de Log
    Out. (No se debe mostrar los botones de Registro y Login una vez que el
    usuario está logueado)
</p>
<p>
- Componente Login

Tiene que tener la validación de usuario contra firebase
Registrar el log de ese usuario en firebase.
En caso de que sea exitoso registrar:
Usuario
Fecha de ingreso

En caso correcto deber rutear a la homeDebe tener botones de acceso rápido.
Estos botones tienen que completar los campos de email y contraseña con un
usuario válido que al presionar el botón ingresar acceda a la home.
</p>
<p>
- Componente Registro

Tiene que generar un nuevo usuario y redirigir al home al crearlo exitosamente,
es decir, loguear al usuario automáticamente.

Emitir mensaje si el usuario ya se encuentra registrado. (NO USAR ALERT)
</p>
</div>